/* css content */

/*************************************************************/
/* Header - main navigation section                          */
/*************************************************************/

body{
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#012252; 
    padding: 14px 16px;
}

.nav-text{
    float:left;
    display:block;
    font-size: 15px;
    color:#f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-weight: 400;
    list-style-type: none;
    padding: 14px 16px;
}

.nav-text:hover{
    background-color: #02407C;
    border:2px #2F82C2
}

a:link {
    color:#f4f5f5;
    text-decoration: none;
}

a:visited{
    color:#f4f5f5;
    text-decoration: none;
}

a:active{
    color:#F55B09;
    text-decoration: none;
}


/*************************************************************/
/* Content - hero section                                    */
/*************************************************************/

.hero{
  position:relative;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.hero::before{
    content:"";
    position: absolute;
    top:0;
    left: 0;
    height: 800px;
    width: 100%;
    background: url("../images/mountains_blue_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content{
    position: relative;
    font-family: "Monserrat", sans-serif;
    text-align:center;
    margin:0.625rem;
}

.hero-name{
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-top: 130px;
    margin-bottom: 0;
    color: #c2723e;
}

.hero-profession{
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 1rem;
    color: #f4f5f5;
}

.hero-button{
    background-color: #012252;
    border: 1px solid #2F82C2;
    border-radius: 4px;
    box-sizing: border-box;
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.47059;
    padding: 4px 15px;
    text-align: center;
    vertical-align: baseline;
    margin-top: 45px;
 }

 .hero-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }

/*************************************************************/
/* Content - My Skills section                               */
/*************************************************************/

.skills-section{
    background-color: #ccc2bd;
    font-family: "Monserratt",sans-serif;
}

.skills-header{
    background-color: #dfd9d1;
    color: #c2723e;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin: auto;
    text-align: center;
    /* font-family: 'Quattrocento', serif; */
    font-family: "Monserratt",sans-serif;
    line-height:80px;
    height: 80px;
 }

.container{
    font-family: "Monserratt",sans-serif;
    background-color: #ccc2bd;
    height:700px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item{
    background-color: #c2723e;
    padding:20px;
    margin:40px;
    height: 500px;
    width: 350px;
    text-align: center;
}

.skill-title{
    color: #f5f5f5;
    font-size: 30px;
    font-family: "Monserratt",sans-serif;
    letter-spacing: 0.06em;
    padding-top: 10px;
}

.skill-sub-title{
    color: #f5f5f5;
    font-size: 25px;
    font-family: "Monserratt",sans-serif;
    padding-top: 15px;
}
.ul-skills-container{
    text-align: center;
}

.skills-details{
    display:inline-block;
    background-color: #c2723e;
    text-align: left;
    list-style-type: none;
    color: #f5f5f5;
    font-size: 18px;
    font-family: "Monserratt",sans-serif;
    margin-top: 15px;
    line-height: 25px;
    padding: 0 0 0 0;
 }

 .fa-check {
    font-size:20px;
    padding-right: 10px;
    color: #012252;    
 }

img{
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 70%;
    max-height: 70%;
    border-radius:50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
}

/*************************************************************/
/* Content - My Work section                                 */
/*************************************************************/

.work-section{
    background-color:#ccc2bd;
    font-family: "Monserratt",sans-serif;
    /* border: 4px solid red; */
}

.work-header{
    background-color: #dfd9d1;
    color: #c2723e;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin: auto;
    text-align: center;
    /* font-family: 'Quattrocento', serif; */
    font-family: "Monserratt",sans-serif;
    line-height:80px;
    height: 80px;
 }

 .more-work-header{
    background-color: #dfd9d1;
    color: #c2723e;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
    text-align: center;
    /* font-family: 'Quattrocento', serif; */
    font-family: "Monserratt",sans-serif;
    line-height:80px;
    height: 80px;
    margin-top: 30px;
 }

 .work-image{
    margin: 0;
    padding:0;
    align-items: center;
    justify-content: center;   
    max-width: 100%;
    max-height: 95%;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border-radius: 10px;
  }

.grid-container{
    box-sizing: border-box;
    /* border: 4px solid green; */
    font-size: 15px;
    min-height: 500px;
    display: grid;
    margin: 2% 10% 0;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "gr-image-1 gr-workitem-1"
    "gr-image-2 gr-workitem-2"
    "gr-image-3 gr-workitem-3";
    row-gap: 2rem;
    justify-content: center;
    align-content: space-evenly;
}

.grid-item{
    background-color: #c2723e;
    /* border:4px solid orchid;  */
    padding: 20px;
}

.project-tittle{
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 2rem; 
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.project-type{
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.project-desc{
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 1.25rem; 
    line-height: 2rem;
    margin: 1.5rem 0 1.5rem;
}

.project-button{
    background-color: #012252;
    border-radius: 4px;
    box-sizing: border-box;
    color: #f4f5f5;
    font-family: "Monserratt",sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.47059;
    padding: 4px 15px;
    text-align: center;
    position: relative;
    left: 42%;
    margin-bottom: 0px;
    margin-top: 10px ;
    cursor:pointer;
 }

 .project-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
 }

.gr-image-1{
    grid-area: gr-image-1; 
 }

.gr-workitem-1{
    grid-area: gr-workitem-1;
 }

.gr-image-2{
    grid-area: gr-image-2;
}

.gr-workitem-2{
    grid-area: gr-workitem-2;
 }

.gr-image-3{
    grid-area: gr-image-3;
}

.gr-workitem-3{
    grid-area: gr-workitem-3;
}

/*************************************************************/
/* Footer - section                                          */
/*************************************************************/

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#012252;
    color: white;
    font-family: "Monserratt",sans-serif;
    font-size: 15px;
    text-align: center;
}

.home-footer{
    position: fixed;
    left: 0;    
    bottom: 0;
    width: 100%;
    background-color:#012252;
    color: white;
    font-family: "Monserratt",sans-serif;
    font-size: 15px;
    text-align: center;
}

/*************************************************************/
/* Media query - section                                     */
/*************************************************************/

@media screen and (max-width: 600px) {

    /************************************/
    /* Media query - My skills section  */
    /************************************/

    .container{
        height:2000px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item{
        width: 100%;
        height: 100%;
        text-align: center;
    }

    img{
        max-width: 50%;
        max-height: 50%;
    }


     /************************************/
     /* Media query - My work section    */
     /************************************/

     .grid-container{
        height: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "gr-image-1"
        "gr-workitem-1"
        "gr-image-2"
        "gr-workitem-2"
        "gr-image-3" 
        "gr-workitem-3";
    }

    .project-tittle{
        font-size: 1.2rem;
        text-align: center;
        margin: 0.5rem 0 0;
        font-weight: 600;
    }
    
    .project-type{
        font-size: 1rem;
        text-align: center;
        margin: 0.5rem 0 0;
        font-weight: 600;
    }

    .project-desc{
        font-size: 0.9rem; 
        line-height: 1.2rem;
        margin: 1.5rem 0 0;
    }

    .project-button{
        font-size: 0.9rem;
        line-height: 1.2rem;
        left: 32%;
        margin-bottom: 0px;
        margin-top: 20px ;
        cursor:pointer;
     }

}

